#overlayButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999999;
    width: 48px;
    height: 48px;
    background-image: url('noBS.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    opacity: 0.75;
}

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(16, 16, 16, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
    width: 400px;
}

#searchButton {
    margin-top: 10px;
    background-color: #1a9562;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#remoteDiv {
    display: flex;
    align-items: center;
}

#deanWallsLink {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}



/* Wavy Animation Keyframes */
@keyframes wave-text {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

/* Apply Animation to Each Letter */
#deanWallsLink span {
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

/* Remove Underline on Hover */
#deanWallsLink:hover {
    text-decoration: none;
  }